.env
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
.python-version
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/

# 11ty
web/_site/

# IDE
.idea/
.vscode/
*.swp
*.swo
